body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade {
    animation: fadeEffect 8s ease-in-out;
}

@keyframes fadeEffect {
    0% { opacity: 0% ;}
    30% { opacity: 50%; }
    50% { opacity: 100%; }
    70% { opacity: 50%; }
    90% { opacity: 30%; }
    100% { opacity: 0%; }
}