@font-face {
    font-family: 'Minecraft';
    src: local("Fonts/MinecraftTen-VGORe.ttf") format("truetype")
}

body {
    justify-content: center;
    margin: 10px;
    background-color: #F0F2F5;
}

header {
    text-align: center;
    font-family: 'Minecraft';
    font-size: 26px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Minecraft';
}

p {
    font-family: 'Minecraft';
}

button {
    margin: 10px 0px 0px 10px;
    padding: 10px 10px;
    background-color: #70B237;
    color: white;
    font-family: 'Minecraft';
}

button:hover {
    background-color: #5c912e;
    color: lightgrey;
    cursor:grab;
}

.container {
    display: block;
    justify-content: center;
    position: relative;
    width: 95vw;  /* vw stand for viewport width */
    height: 70vh;  /* vh stand for viewport height */
    border-radius: 10px;
    border-style: dotted;
}

.container .quiz {
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-family: 'Minecraft';
}

.container .options {
    padding: 10px;
}

.container .feedback {
    text-align: center;
    margin: 10px;
}

.quiz {
    display: flex;
    flex-direction: column;
}

/* ------------- Customize the option list as a card style ------------------*/
/* force the section display all child follow the column */
.answer {
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
}

.options-card {
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px 5px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, border 0.2s ease;  /* changing the border and color smoothly*/
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.options-card:hover {
    background-color: #F4F7FF;
    border-color: #C8D6F9;
}

.options-card:has(input:checked) {
    border-color: #C8D6F9;
}

.options input[type="radio"] {
    list-style: none;
}

footer {
    text-align: center;
    font-family: 'Minecraft';
    width: 95vw;
    height: 70vh;
}