/*
Style file for lab4.html

#: for id
.: for class

id is unique in html file. Cannot have repeated id in single html file.
class can be use repeatly for multiple object.
*/

/* -------------------- Header ---------------------------*/
.header {
    text-align: center;
    animation: blink-animation 2s infinite;
    font-family: 'Courier New', Courier, monospace;
}

/* Creating the blink animation */
@keyframes blink-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* -------------------- Body ---------------------------*/
body {
    background-color: lightgrey;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0%, 100% { background-color: white; }
    50% { background-color: lightgrey; }
}

/* -------------------- Navigation ---------------------------*/

#navigation-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-section nav ul li a {
    font-family: 'Courier New', Courier, monospace;
}

/* Remove bullet point */
#navigation-link {
    list-style-type: armenian;
    margin: 0;
    padding: 0;
    display: flex;
}

/* 
Suitable for html file that only contain single nav li elements
make the navigation bar align at the center
*/
nav ul li a {
    margin-right: 40px;
}

/* Video section */
#video-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#external-link-article {
    text-align: center;
    align-self: center;
}

#footer {
    text-align: center;
}

/* --------------------- Style Form -----------------------*/
/* Custome text of input */
#form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus {
    border-color: black;
    outline: 1px;
}

input[type="text"], input[type="email"], textarea {
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}

input[type="submit"] {  /* Submit button */
    font-family: 'Courier New', Courier, monospace;
}

input[type="submit"]:hover {
    background-color: darkgray;
    border-color: black;
    outline: 1px;
}

input[type="checkbox"] {
    display: flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form {
    font-family: 'Courier New', Courier, monospace;
}

/* ---------------------- Footer ---------------------------*/
#footer {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}