/* -------------------- Navigation bar ----------------------------*/
.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: f0f0f0;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

/* Important for dropdown menu */
nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding-left: 20px;
    color: #4B1F73;
}

nav ul li a:hover {
    color: #6E4A9F;
}

/* Dropdonw menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color:#F6F0FF
;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    /* Making fade out animation */
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);  /* Move down by 10px for move up animation */
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s;
}

.dropdown-content a {
    color: #685B84;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px); 
}

.dropdown-content a:hover {
    background-color:#B573E8;
}

/* Underline sliding animation */
/* Create the underline animation using ::after */
.dropdown > a::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -10px;
    width: 0%;
    height: 4px;
    background-color: #4B1F73;
    transition: width 0.3s ease-in-out;
}

/* Hover underline animation */
.dropdown > a:hover::after {
    width: 80%;
}