
/* -------------------- Navigation bar ----------------------------*/
.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: f0f0f0;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 10px;
}

/* Important for dropdown menu */
nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding-left: 20px;
    color: #4B1F73;
}

nav ul li a:hover {
    color: purple;
}

/* Dropdonw menu */
.dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #BFA2F2;
    min-width: 160px;
}

.dropdown_content li a {
    padding: 10px;
    color: white;
}

.dropdown:hover .dropdown_content {
    display: block;
}

